@import url(../css/home.css);

.titu_adm{
    backdrop-filter: blur(10px);
    color: aliceblue;
    font: size 30px;
    border-radius: 20px;
    font-weight: bold;
    text-align: center;
}

div#form_fundo{
    margin: 2% 50% 5% 3%;
    position: absolute;
}

div#form_fundo.lista_users{
    margin: 2% 5% 5% 51%;
}

#form_frente.lista_users{
    text-align: left;
    font-weight: bold;
    font-size: 17px;
}

ul {
    list-style-type: none;
}
