@import url(../css/home.css);

.titu_adm{
    backdrop-filter: blur(10px);
    color: aliceblue;
    font: size 30px;
    border-radius: 20px;
    font-weight: bold;
    text-align: center;
}

div#form_fundo{
    margin: 2% 50% 5% 3%;
    margin-top: 180px;
}