<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADM</title>
    <link rel="stylesheet" href="../static/css/admin.css">
</head>
<body>

    {% set menssagem = get_flashed_messages() %}
    {% if menssagem %}
        <div class="flash_alerta">
            {{menssagem[0]}}
        </div>
    {% endif %}

    <H1 class="titu_adm">Administrador</H1>

    <div id="form_fundo">
        <h2>CADASTRAR USUARIO</h2>
        <h2>DomDev</h2>
        <div id="form_frente">
            <form action="/cadastro_user" id="login" method="post">
                <label for="nome">NOME</label>
                <input type="text" name="nome" id="nome" required placeholder="Digite seu nome"><br><br>
                <label for="senha_input">SENHA</label>
                <input type="text" name="senha" id="senha_input" required placeholder="Digite sua senha"><br><br>
                <button type="submit" id="btn_login">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>Cadastrar
                </button>
            </form>
        </div>
    </div>

    <div id="form_fundo" class="lista_users">
        <h2>USUARIOS CADASTRADOS</h2>
        <h2>DomDev</h2>
        <div id="form_frente" class="lista_users">
            {% if usuarios %}
                {% for c in usuarios %}
                <form action="/delet_user" method="post">
                    <ul>
                        <input type="hidden" name="del_user" value="{{c}}">
                        ==================
                        <li>NOME: {{c['nome']}}</li>
                        <li>SENHA: {{c['senha']}}</li>
                        ==================
                    </ul>
                    <button class="button_excl" type="submit">Excluir</button>
                </form>    

                {% endfor %}
            {% else %}
            <h2>lista vázia! </h2>
            {% endif %}
        </div>
    </div>


    <div id="form_fundo" class="upload">
        <h2>Enviar Arquivo</h2>
        <div id="form_frente" class="upload">
            <form action="/upload" method="post" enctype="multipart/form-data">
                <input type="file" name="documento" id="documento"><br><br><br>
                <button type="submit">Enviar</button>
            </form>
        </div>
    </div>

</body>
</html>